
    <input type="hidden" name="manual" value="1">

    <div>
        <div data-toggle="buttons" data-max-buttons="{{ setbacks_number }}">
            {# Loop through all setbacks BUT avoid "lucky" and "unlucky", to avoid complex validation... #}
            {% for setbackId, setback in setbacks_list|filter(s => not s.lucky and not s.unlucky) %}
                <div class="row">
                    <div class="col s3">
                        <label for="button_{{ setback.id }}_{{ setback.id }}" class="btn btn-block btn-inverse {{ setbacks_value[setback.id] is defined ? ' active' : '' }}">

                            <input type="checkbox" id="button_{{ setback.id }}" name="setbacks_value[]" value="{{ setback.id }}" {{ setbacks_value[setback.id] is defined ? ' checked="checked"' : '' }} class="hidden" />

                            {{ setback.name | trans }}
                        </label>
                    </div>
                    <div class="col s9">
                        {{ setback.description | trans }}
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
