{% extends 'base.html.twig' %}

{% trans_default_domain 'corahn_rin' %}

{% form_theme form 'form/form_theme_materialize.html.twig' %}

{% block title %}{{ 'Liste des personnages'|trans }} - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('character_edit') }}
{% endblock %}

{% block content_for_layout %}

    {{ include('corahn_rin/character_view/character_view_header.html.twig', {character: character}, with_context=false) }}

    <h2>{{ 'character_edit.page_title'|trans }}</h2>

    <div class="row">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="col s12">
                <ul class="tabs">
                    {% for child in form.children %}
                        <li class="tab col s3">
                            <a href="#{{ child.vars.id }}">
                                {% if child.vars.label %}
                                    {{ child.vars.label|trans({}, form.vars.translation_domain) }}
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% for child in form.children %}
                <div class="col s12" id="{{ child.vars.id }}">
                    {% if child.vars.label %}
                        <h3>{{ child.vars.label|trans({}, form.vars.translation_domain) }}</h3>
                    {% endif %}
                    {{ form_errors(child) }}
                    {{ form_widget(child) }}
                    <button type="submit" class="btn waves-effect waves-light">{{ 'character_edit.form.submit'|trans }}</button>
                </div>
            {% endfor %}
        {{ form_end(form) }}
    </div>

{% endblock %}
