{% extends 'corahn_rin/Steps/step_base.html.twig' %}

{% block step_content %}

{% if can_be_changed %}
    <input type="hidden" name="gen-div-choice" id="gen-div-choice" value="{{ orientation_value }}" />
{% endif %}

<div class="row">
    {% for orientation, orientation_description in orientations %}
        {% if can_be_changed or (not can_be_changed and orientation_value == orientation) %}
            <div class="col l6 gen-div-choice{{ not can_be_changed ? '-disabled' }}{{ orientation_value == orientation ? ' selected' }}"
                 data-divchoice-value="{{ orientation }}">
                <article class="{{ can_be_changed ? 'hoverable' }}">
                    <header>
                        <h3 class="center">{{ orientation | trans({}, 'corahn_rin') }}</h3>
                    </header>
                    <p>{{ orientation_description | trans({}, 'corahn_rin') | raw }}</p>
                </article>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
