{% extends 'easy_admin/layout.html.twig' %}

{% trans_default_domain 'messages' %}

{% block content_title %}
    {{ 'admin.menu.corahn_rin.import_character' | trans }}
{% endblock %}

{% block main %}
    <table class="table datagrid">
        <thead>
            <tr>

                <th>
                    <span>#</span>
                </th>
                <th>
                    <span>Name</span>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for item in legacy_characters_paginator.results %}
                <tr>
                    <td>
                        {{ item.id }}
                    </td>
                    <td>
                        {{ item.name }}
                    </td>

                    <td class="actions">
                        <a title="action title" href="{{ path('admin_import_character', {id: item.id}) }}">
                            <i class="fa fa-fw fa-file-import"></i>
                            Import
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="no-results" colspan="2">
                        {{ 'search.no_results'|trans(_trans_parameters, 'EasyAdminBundle') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block content_footer %}
    <div class="list-pagination">
        <div class="list-pagination-counter">
            {{ 'paginator.results'|transchoice(legacy_characters_paginator.numberOfResults, {}, 'EasyAdminBundle')|raw }}
        </div>

        <nav class="pager list-pagination-paginator {{ not legacy_characters_paginator.hasPreviousPage ? 'first-page' }} {{ not legacy_characters_paginator.hasNextPage ? 'last-page' }}">
            <ul class="pagination">
                <li class="page-item {{ not legacy_characters_paginator.hasPreviousPage ? 'disabled' }}">
                    <a class="page-link" href="{{ not legacy_characters_paginator.hasPreviousPage ? '#' : path('admin_legacy_characters', {page: legacy_characters_paginator.previousPage}) }}">
                        <i class="fa fa-angle-left mx-1"></i> <span class="btn-label">{{ 'paginator.previous'|trans({}, 'EasyAdminBundle') }}</span>
                    </a>
                </li>

                <li class="page-item {{ not legacy_characters_paginator.hasNextPage ? 'disabled' }}">
                    <a class="page-link" href="{{ not legacy_characters_paginator.hasNextPage ? '#' : path('admin_legacy_characters', {page: legacy_characters_paginator.nextPage}) }}">
                        <span class="btn-label">{{ 'paginator.next'|trans({}, 'EasyAdminBundle') }}</span> <i class="fa fa-angle-right mx-1"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

{% endblock %}
