{#
This theme is imported from Bootstrap's code.

It's supposed to show every component from bootstrap,
  and be rendered with our own CSS so that we can
  easily customize bootstrap in the esteren portal.
#}
<!DOCTYPE html>
<html id="corahnrin" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Theme Template for Bootstrap</title>

    <meta name="generator" content="Pierstoval"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ encore_entry_link_tags('style_global') }}
    {{ encore_entry_link_tags('fa') }}

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('build/favicon-144.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('build/favicon-114.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('build/favicon-72.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('build/favicon-57.png') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('build/favicon-57.png') }}"/>
    <link rel="shortcut icon" href="{{ asset('build/favicon-57.png') }}">
</head>

<body role="document">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle sidenav-trigger collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bootstrap theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


{{ include('_theme/_whole_theme.html.twig') }}

<script type="text/javascript" src="{{ path('pierstoval_tools_assets_jstranslations', {"_locale": app.request.locale}) }}"></script>
{{ encore_entry_script_tags('global') }}

</body>
</html>
