{% extends 'corahn_rin/corahnrin-layout.html.twig' %}

{% block title %}Liste des personnages - {{ parent() }}{% endblock %}

{% block content_for_layout %}

<h2>{{'Visualiser un personnage'}}</h2>

<h5>{{ 'Nombre total de personnages :' | trans }} {{ count_chars }}</h5>

<table class="table table-condensed table-striped">
    <tr>
        <th>
            {% set order = link_data.search_field == 'name' ? order_swaped : link_data.order %}
            <a href="{{ path('corahnrin_characters_list',link_data|merge({'search_field': 'name','order': order})) }}">
                {% if link_data.search_field == 'name' %}
                    <span class="fa fa-caret-{{ link_data.order == 'asc' ? 'up' : 'down' }}"></span>
                    <strong class="text-underline text-white">
                {% endif %}
                {{ 'Nom' | trans }}
                {% if link_data.search_field == 'name' %}</strong>{% endif %}
            </a>
        </th>
        <th>
            {% set order = link_data.search_field == 'job' ? order_swaped : link_data.order %}
            <a href="{{ path('corahnrin_characters_list',link_data|merge({'search_field': 'job','order': order})) }}">
                {% if link_data.search_field == 'job' %}
                    <span class="fa fa-caret-{{ link_data.order == 'asc' ? 'up' : 'down' }}"></span>
                    <strong class="text-underline text-white">
                {% endif %}
                {{ 'Métier' | trans }}
                {% if link_data.search_field == 'job' %}</strong>{% endif %}
            </a>
        </th>
        <th>
            {% set order = link_data.search_field == 'people' ? order_swaped : link_data.order %}
            <a href="{{ path('corahnrin_characters_list',link_data|merge({'search_field': 'people','order': order})) }}">
                {% if link_data.search_field == 'people' %}
                    <span class="fa fa-caret-{{ link_data.order == 'asc' ? 'up' : 'down' }}"></span>
                    <strong class="text-underline text-white">
                {% endif %}
                {{ 'Peuple' | trans }}
                {% if link_data.search_field == 'people' %}</strong>{% endif %}
            </a>
        </th>
        <th>
            {% set order = link_data.search_field == 'birthplace' ? order_swaped : link_data.order %}
            <a href="{{ path('corahnrin_characters_list',link_data|merge({'search_field': 'birthplace','order': order})) }}">
                {% if link_data.search_field == 'birthplace' %}
                    <span class="fa fa-caret-{{ link_data.order == 'asc' ? 'up' : 'down' }}"></span>
                    <strong class="text-underline text-white">
                {% endif %}
                {{ 'Région de naissance' | trans }}
                {% if link_data.search_field == 'birthplace' %}</strong>{% endif %}
            </a>
        </th>
    </tr>
    {% for character in characters %}
        <tr>
            <td><a href="{{ path('corahnrin_characters_view', {'id': character.id,'nameSlug': character.nameSlug}) }}" title="{{ 'Voir le personnage %character_name%' | trans({'%character_name%': character.name}) }}">{{ character.name }}</a></td>
            <td>
                {% if character.job %}
                    {{ character.job.name | trans }}
                {% endif %}
            </td>
            <td>{{ character.people.name | trans }}</td>
            <td>{{ character.birthplace | trans }}</td>
        </tr>
    {% endfor %}
</table>

<ul class="pagination pagination-sm">

    {# First page, always visible #}
    <li{{ page <= 1 or count_pages == 0 ? ' class="disabled"' : '' }}><a href="{{ path('corahnrin_characters_list',link_data|merge({'page': page - 1})) }}">&larr; {{ 'Précédent' | trans }}</a></li>

    {# If we are at page 5+, we show other pages, and maybe "..." #}
    {% if page - 5 > 1 %}
        <li><a href="{{ path('corahnrin_characters_list',link_data|merge({'page': 1})) }}">1</a></li>
        {% if page - 5 > 2 %}
        <li class="disabled"><a>...</a></li>
        {% endif %}
    {% endif %}

    {# Show all other pages missing #}
    {% for i in (page - 5)..(page + 5) %}
        {% if i >= 1 and i <= count_pages %}
            <li{{ i == page ? ' class="active"' : '' }}><a href="{{ path('corahnrin_characters_list',link_data|merge({'page': i})) }}">{{ i }}{% if i == page %} <span class="sr-only">({{ 'Current page' | trans }})</span>{% endif %}</a></li>
        {% endif %}
    {% endfor %}

    {# If we are more than 5 pages before the last, we show other pages, and maybe "..." #}
    {% if page + 5 < count_pages %}
        {% if page + 5 < count_pages - 1 %}
            <li class="disabled"><a>...</a></li>
        {% endif %}
        <li><a href="{{ path('corahnrin_characters_list',link_data|merge({'page': count_pages})) }}">{{ count_pages }}</a></li>
    {% endif %}

    <li{{ page == count_pages or count_pages == 0 ? ' class="disabled"' : '' }}><a href="{{ path('corahnrin_characters_list',link_data|merge({'page': page+1})) }}">{{ 'Suivant' | trans }} &rarr;</a></li>

</ul>

{% endblock %}
